{% extends "base.html" %}
{% load static %}
{% block title %}{{ user.username }} | Profile{% endblock %}
{% block main %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="row align-items-center">
                        <!-- Profile Image -->
                        <div class="col-md-4 text-center mb-3 mb-md-0">
                            <img src="{{ user.profile_image.url }}" alt="Profile picture"
                                class="img-fluid rounded-circle" style="height: 180px;
                                            width: 180px">
                        </div>
                        <!-- User Info -->
                        <div class="col-md-8">
                            <h3 class="mb-2">{{ user.username }}</h3>
                            <p class="text-muted mb-1">E-mail: {{ user.email }}</p>
                            {% if user.first_name or user.last_name %}
                            <p class="mb-2">Повне ім'я: {{ user.first_name }} {{ user.last_name }}</p>
                            {% endif %}
                            {% if user.bio %}
                            <hr>
                            <p>{{ user.bio }}</p>
                            {% endif %}
                            <p>Кількість відгуків: {{ user.reviews.count }}</p>
                            {% include 'users/partials/modals/_edit_profile.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block scripts %}
    <script src="{% static 'js/users/profile.js' %}"></script>
    {% endblock %}
