{% extends "base.html" %}
{% block main %}
    <div class="modal fade"
         id="abuseModal"
         aria-hidden="true"
         aria-labelledby="abuseModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">
                        Скарга на матеріал
                        (Abuse on publication)
                    </h1>
                    <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="">
                        <div class="mb-3">
                            <label for="organization-name" class="col-form-label">Назва організації:</label>
                            <input type="text" class="form-control" id="organization-name">
                        </div>
                        <div class="mb-3">
                            <label for="contact-person" class="col-form-label">Контактне лице:</label>
                            <input type="text" class="form-control" id="contact-person">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="col-form-label">E-mail:</label>
                            <input type="email" class="form-control" id="email">
                        </div>
                        <div class="mb-3">
                            <label for="delete-urls" class="col-form-label">
                                Прямі посилання на сторінки
                                ресурсу, інформація з яких потребує видалення:
                            </label>
                            <input type="text" class="form-control" id="delete-urls">
                        </div>
                        <div class="mb-3">
                            <label for="url-proof" class="col-form-label">
                                Посилання на документ, який є
                                доказом наявності у Вас прав на матеріал, розміщений на сайті:
                            </label>
                            <input type="text" class="form-control" id="url-proof">
                        </div>
                        <div class="mb-3">
                            <label for="explanation" class="col-form-label">
                                Текст-пояснення, який би ви
                                хотіли залишити в оголошенні факту видалення публікації:
                            </label>
                            <textarea class="form-control" id="explanation"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="free-message" class="col-form-label">Вільне повідомлення:</label>
                            <textarea class="form-control" id="free-message"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-outline-secondary"
                            data-bs-dismiss="modal">Закрити</button>
                    <button type="button" class="btn btn-warning">Надіслати</button>
                </div>
            </div>
        </div>
    </div>
    <h2 class="text-muted">Правовласникам</h2>
    <p>
        <span>Власники і творці цього сайту не несуть відповідальності за розміщення на сторінках сайта інформації та
            посилань. Всі посилання, розміщені на цьому сайті ведуть на сторонні ресурси. Даний проект не передбачає
            комерційної вигоди, тому його автори не можуть нести жодної відповідальності, пов'язану з правовласниками. Всі
            матеріали сайту надані виключно в ознайомлювальних цілях тільки для особистого
        ознайомлення.&nbsp;</span>
        <br>
        <br>
        <span>Інформація, розміщена на нашому ресурсі, є загальнодоступною для
            скачування і перегляду в мережі Інтернет. Збір матеріалу в Інтернеті та розміщення його на нашому сайті
            проводиться автоматично, завдяки налаштованим для цього парсерам і програм конвертації відео. Адміністрація
        сайту не контролює відео матеріал, який додається на сайт.&nbsp;</span>
        <br>
        <span>Також, адміністрація нашого
            ресурсу ні в якому разі не займається публікацією неліцензійного або краденого контенту, що знаходиться під
            захистом цього правовласника. Автоматизована система публікує на сайті лише той матеріал, який знаходиться в
            мережі Інтернет у вільному доступі, при цьому користуючись тільки відкритими
        джерелами!&nbsp;</span>
        <br>
        <span>Якщо наш ресурс якимось чином порушив Ваші авторські права, адміністрація сайту
            з радістю надасть Вам і видалить контент, який офіційно належить Вам. Адміністрація завжди йде на зустріч
        справжніми правовласниками!&nbsp;</span>
        <br>
        <br>
        <b class="text-warning">Якщо Ви - власник, чиї права порушує наш ресурс, прохання
            надіслати нам електронного листа із
        зазначенням:<span>&nbsp;</span></b>
        <br>
        <br>
        <b class="text-warning">1.</b><span>&nbsp;Підтвердження Ваших прав на матеріал, захищений
        законом про авторське право:&nbsp;</span>
        <br>
        <span>- відсканований, або якісно зроблений фото знімок документа з
        печаткою, або...&nbsp;</span>
        <br>
        <span>- електронний лист, отримане з офіційного домена компанії правовласника,
        або...&nbsp;</span>
        <br>
        <span>- будь-який інший документ або інформацію, яка допоможе нам однозначно розпізнати
        Вас як справжнього володаря прав на відповідний матеріал.&nbsp;</span>
        <br>
        <br>
        <b class="text-warning">2.</b><span>&nbsp;Посилання на
        сторінки нашого сайту, де розміщено контент, що порушує Ваші авторські права&nbsp;</span>
        <br>
        <span>При отриманні
            на нашу електронну адресу листа, що містить дане підтвердження, ми видалимо захищений авторським правом
            матеріал, або ж, за Вашим бажанням, замінимо його плеєром з Вашого онлайн кінотеатру або з каналу
        YouTube.&nbsp;</span>
        <br>
        <br>
        <span>Надсилайте всі скарги на адресу admin@kinohub.com або скористайтеся кнопкою внизу</span>
        <br>
        <br>
        <b class="text-warning">Увага</b>
        <br>
        <span>&nbsp;</span>
        <br>
        <span>Ми не несемо відповідальності за повторне
            розміщення посилань на матеріали, на які поширюється авторське право, через те, що всі матеріали розміщують
            автоматично на основі вільного поширення інформації в мережі Інтернет. Якщо ви виявите посилання на об'єкт
        вашого авторського права, ви можете повторно звернутися до нас для її усунення.</span>
    </p>
    <button class="btn btn-warning"
            data-bs-toggle="modal"
            data-bs-target="#abuseModal">Надіслати скаргу</button>
{% endblock %}
