{% extends "base.html" %}
{% block title %}Kinohub — серіали та фільми українською мовою онлайн{% endblock %}
{% block main %}
    {% for category in categories %}
        {% if category.first_movies|length > 0 %}
            <section class="mb-5">
                <div class="container-fluid">
                <a class="category-title text-decoration-none"
                   href="{{ category.get_absolute_url }}"><span class="fs-5 fas {{ category.icon }}"></span>
                <h5 class="section-title text-uppercase mb-3">{{ category.name }}</h5>
            </a>
            <div class="row g-3 film-row">
                {% for movie in category.first_movies %}
                    {% include 'movies/partials/_movie_card.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endfor %}
{% endblock %}
