{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'styles/vendor/fancybox.css' %}" />
{% endblock head %}
{% block title %}{{ movie.title }} ({{ movie.release_year }}) дивитися онлайн українською в HD якості{% endblock %}
{% block main %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h2 class="text-white">{{ movie.title }}</h2>
                <p class="text-muted">{{ movie.en_title }}</p>
            </div>
            <!-- Left column - Poster -->
            <div class="col-auto" style="position: relative;">
                <a href="{{ movie.image_url }}"
                   loading="lazy"
                   data-fancybox="gallery"
                   data-caption="постер до фільму {{ movie.title }} дивитися онлайн">
                    <i class="full-zoom fa fa-expand"></i>
                    <img width="300"
                         class="img-fluid rounded"
                         src="{{ movie.image_url }}"
                         loading="lazy"
                         alt="постер до фільму {{ movie.title }} дивитися онлайн"
                         title="постер до фільму {{ movie.title }} дивитися онлайн">
                </a>
            </div>
            <!-- Middle column - Info -->
            <div class="col-12 col-md-6 py-2">
                <div class="text-white">
                    <p class="text-warning">
                        <span class="text-muted">Якість:</span> <strong>{{ movie.full_quality }}</strong>
                    </p>
                    <p>
                        <span class="text-muted">Рік виходу:</span>
                        <a class="text-warning text-decoration-none"
                           href="{{ movie.category.get_absolute_url }}?year={{ movie.release_year }}">
                            <span class="text-warning"> {{ movie.release_year }}
                            </a>
                        </span>
                    </p>
                    {% if movie.age_rating %}
                        <p>
                            <span class="text-muted">Віковий рейтинг:</span>
                            <span class="text-warning">{{ movie.age_rating }}</span>
                        </p>
                    {% endif %}
                    {% if movie.country %}
                        <p>
                            <span class="text-muted">Країна:</span>
                            {% for country in movie.country %}
                                <a class="text-warning text-decoration-none">{{ country.name }}</a>
                                {% if not forloop.last %},{% endif %}
                            {% endfor %}
                        </p>
                    {% endif %}
                    <p>
                        <span class="text-muted">Жанр:</span>
                        {% for genre in movie.genres.all %}
                            <a href="{{ movie.category.get_absolute_url }}?genres={{ genre.name }}"
                               class="text-warning text-decoration-none">{{ genre.name }}</a>
                            {% if not forloop.last %},{% endif %}
                        {% endfor %}
                    </p>
                    <p>
                        <span class="text-muted">Режисер:</span>
                        {% for director in movie.directors.all %}
                            <a href="#" class="text-warning text-decoration-none">{{ director.name }}</a>
                            {% if not forloop.last %},{% endif %}
                        {% endfor %}
                    </p>
                    <p>
                        <span class="text-muted">Актори:</span>
                        {% for actor in movie.actors.all %}
                            <a href="{{ actor.get_absolute_url }}"
                               class="text-warning text-decoration-none">{{ actor.name }}</a>
                            {% if not forloop.last %},{% endif %}
                        {% endfor %}
                    </p>
                    {% if movie.duration %}
                        <p class="text-warning">
                            <span class="text-muted">Тривалість:</span>
                            <strong>{{ movie.duration }}</strong>
                        </p>
                    {% endif %}
                    {% comment %} <p class="text-warning">
                    <span class="text-muted">Озвучення:</span>

                    Garatorголосkій закадровий | LemOnka, Справжня Козацька Озвучка

                    </p> {% endcomment %}
                    {% if movie.imdb != 0.0 %}
                        <!-- IMDb Rating -->
                        <div class="d-flex align-items-center gap-2 my-3">
                            <img src="{% static 'icons/IMDB_Logo_2016.svg' %}"
                                 alt="IMDb"
                                 height="20">
                            <span class="text-warning fs-7"><strong>{{ movie.imdb }}/{{ movie.imdb_votes }}</strong></span>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- Description section -->
    <div class="row mt-5">
        <div class="col-12">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h5 class="text-white">Про що {{ movie.category.singular_name|lower }} "{{ movie.title }}":</h5>
                <small class="text-muted">
                    {{ movie.changed_on }} <i class="fas fa-info-circle"></i>
                </small>
            </div>
            <p class="text-muted">{{ movie.description }}</p>
        </div>
    </div>
    <div class="screen-section">
        <div class="row g-3 justify-content-center">
            {% for shot in movie.screenshots.all %}
                <div class="col-6 col-sm-4 col-md-3 col-lg-2 flex-grow-1">
                    <a href="{{ shot.screenshot_url }}"
                       data-fancybox="gallery"
                       data-caption="кадри з фільму {{ movie.title }}">
                        <img src="{{ shot.screenshot_url }}"
                             class="img-fluid rounded screenshot"
                             alt="кадри з фільму {{ movie.title }}"
                             title="кадри з фільму {{ movie.title }}">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- player -->
    <div class="container-fluid text-white p-0">
        <!-- Header -->
        <div class="text-center py-2">
            <small>Дивитися {{ movie.category.singular_name|lower }} «{{ movie.title }}» українською мовою онлайн
            безкоштовно</small>
        </div>
        <div class="container-fluid bg-dark rounded-bottom-3 p-0">
            <!-- Tabs and Controls -->
            <div class="d-flex justify-content-between align-items-center p-3">
                <!-- Left tabs -->
                <div class="d-flex gap-2">
                    <button id="playerBtn" class="btn btn-warning active">Плеєр</button>
                    <button id="trailerBtn" class="btn btn-warning">Трейлер</button>
                </div>
                <!-- Right controls -->
                <div class="d-flex gap-3 align-items-center">
                    <!-- <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="autoplay" checked>
                            <label class="form-check-label" for="autoplay">АВТОПЕРЕМИКАННЯ</label>
                        </div> -->
                    <a href="#" class="text-white text-decoration-none">
                        <i class="fas fa-flag"></i> Відео не працює?
                    </a>
                </div>
            </div>
            <div id="player" class="w-100"></div>
            <div id="trailer" class="w-100" hidden>
                <div style="padding-bottom: 56.25%; position: relative;">
                    <iframe referrerpolicy='strict-origin-when-cross-origin'
                            width="100%"
                            height="100%"
                            src="{{ movie.trailer_url }}"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture; fullscreen"
                            style="position: absolute;
                                   top: 0px;
                                   left: 0px;
                                   width: 100%;
                                   height: 100%"></iframe>
                </div>
            </div>
        </div>
        <!-- Like/Dislike and Share -->
        <!-- <div class="d-flex justify-content-between align-items-center p-3">
                <div class="d-flex gap-3">
                    <button class="btn btn-link text-success text-decoration-none">
                        <i class="fas fa-thumbs-up"></i> 42802
                    </button>
                    <button class="btn btn-link text-danger text-decoration-none">
                        <i class="fas fa-thumbs-down"></i> 6617
                    </button>
</div> -->
        <!-- <div class="d-flex gap-2">
                    <button class="btn btn-primary btn-sm rounded-circle">
                        <i class="fab fa-facebook-f"></i>
                    </button>
                    <button class="btn btn-info btn-sm rounded-circle">
                        <i class="fab fa-twitter"></i>
                    </button>
                    <button class="btn btn-primary btn-sm rounded-circle">
                        <i class="fab fa-telegram"></i>
                    </button>
                </div> -->
        {% include 'movies/partials/_comments_section.html' %}
</div>
</div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/reviews/main.js' %}"></script>
    <script src="{% static 'js/vendor/playerjs.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/vendor/fancybox.umd.js' %}"></script>
{% endblock %}
{% block script %}
    <script>
    let player = new Playerjs({
        id: "player",
        file: {{ players_list| safe }}
    });
    Fancybox.bind('[data-fancybox="gallery"]', {
        // Your custom options for a specific gallery
    });
    const trailerBtn = document.querySelector("#trailerBtn")
    const playerBtn = document.querySelector("#playerBtn")
    if(trailerBtn){
        trailerBtn.addEventListener('click', () => {
            playerBtn.classList.remove("active")
            trailerBtn.classList.add("active")
            document.getElementById("trailer").hidden = false;
            document.getElementById("player").hidden = true;
        })
    }
    if(playerBtn){
        playerBtn.addEventListener('click', () => {
            trailerBtn.classList.remove("active")
            playerBtn.classList.add("active")
            document.getElementById("player").hidden = false;
            document.getElementById("trailer").hidden = true;
        })
    }


    </script>
{% endblock %}
